.container {
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .strikeThrough {
    text-decoration: line-through;
    text-decoration-color: #eeb115;
    text-decoration-thickness: 5px; /* Thicker strike-through line */

  }
  
  .subtitle {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    max-width: 800px;
    align-items: center;
    margin: 0 auto;
    color: rgb(99, 99, 99);
    font-weight: 600;
  }
  
