/* src/components/layout/Footer/Footer.module.css */
.footer {
    background-color: rgb(5, 5, 41);
    color: #949494;
    text-align: center;
    padding: 2rem 1rem;
    font-size: 0.9rem;
  }
  
  .footer p {
    font-weight: bold;
    margin: 0.5rem 0;
  }
  
  .footerLinks {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  
  .footerLink {
    color: #666;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: bold;
  }
  
  .footerLink:hover {
    color: var(--primary-color);
  }